<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{ nombre }} </title>
    <meta name="theme-color" content="#20252C" />
    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favs/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="img/favs/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="img/favs/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="img/favs/android-chrome-192x192.png"
      sizes="192x192"
    />
    <!-- Imports -->
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

		{{> header }}
    
    {{> main }}

    <script src="app/index.js"></script>
  </body>
</html>
