<main>
      <section class="hero">
        <div class="title">
          <h1>
            <span>Ricardo Mart칤nez</span>
            <span>Desarrollador FullStack Junior</span>
          </h1>
        </div>
        <div>
          <a href="#contact" class="btn-hero"> Cont치ctame </a>
        </div>
        <i class="arrow-icon">&darr;</i>
      </section>

      <section class="about">
        <h2>Sobre m칤</h2>

        <div class="about-contain">
          <div class="about-text">
            <p>
              Hola游녦 Soy aspirante a Web Developer. Soy de Venezuela, tengo 15
              a침os y estudio Desarrollo Web, actualmente me manejo HTML, CSS,
              JavaScript, NodeJS, MarkDown y Git.
            </p>
            <h3>Tecnolog칤as</h3>
            <div class="about-tech-icons">
              <img loading="lazy" src="img/svg-icons/html-1.svg" alt="HTML" />
              <img loading="lazy" src="img/svg-icons/css-3.svg" alt="CSS" />
              <img
                loading="lazy"
                src="img/svg-icons/logo-javascript.svg"
                alt="JavaScript"
              />
              <img
                loading="lazy"
                src="img/svg-icons/nodejs-icon.svg"
                alt="NodeJS"
              />
              <img loading="lazy" src="img/svg-icons/git-icon.svg" alt="Git" />
              <svg
                id="svg-markdown"
                width="2500"
                height="1543"
                viewBox="0 0 256 158"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M238.371 157.892H18.395C8.431 157.892 0 149.462 0 139.497V18.395C0 8.431 8.431 0 18.395 0h219.21C247.569 0 256 8.431 256 18.395v121.102c0 9.964-7.665 18.395-17.629 18.395zM18.395 12.263c-3.066 0-6.132 3.066-6.132 6.132v121.102c0 3.832 3.066 6.132 6.132 6.132h219.21c3.832 0 6.132-3.066 6.132-6.132V18.395c0-3.832-3.066-6.132-6.132-6.132H18.395zM36.79 121.102V36.79h24.527l24.527 30.66 24.527-30.66h24.527v84.312h-24.527V72.814l-24.527 30.66-24.527-30.66v48.288H36.79zm154.06 0l-36.79-40.623h24.527V36.79h24.527v42.923h24.527l-36.79 41.389z"
                />
              </svg>
            </div>
          </div>
          <div class="about-profile">
            <img
              loading="lazy"
              src="img/profile-pic.webp"
              alt="profile image"
            />
          </div>
        </div>
      </section>

      <section class="projects">
        <h2>Proyectos</h2>

        <div class="projects-cards">
          <a href="" class="project-card">
            <div class="card-cover">
              <img src="https://placeimg.com/640/480/tech" alt="">
            </div>
            <h3>Coming Soon</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit non
              inventore iure ipsa odit architecto voluptatem rerum blanditiis,
              veniam at?
            </p>
            <div class="card-footer">
            <span>Hecho Con: loremsito</span>
            <i>24 Dec</i>
            </div>
          </a>
          <a href="" class="project-card">
            <div class="card-cover">
              <img src="https://placeimg.com/640/480/tech" alt="">
            </div>
            <h3>Coming Soon</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit non
              inventore iure ipsa odit architecto voluptatem rerum blanditiis,
              veniam at?
            </p>
            <div class="card-footer">
              <span>Hecho Con: loremsito</span>
              <i>24 Dec</i>
            </div>
          </a>
          <a href="" class="project-card">
            <div class="card-cover">
              <img src="https://placeimg.com/640/480/tech" alt="">
            </div>
            <h3>Coming Soon</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit non
              inventore iure ipsa odit architecto voluptatem rerum blanditiis,
              veniam at?
            </p>
            <div class="card-footer">
              <span>Hecho Con: loremsito</span>
              <i>24 Dec</i>
            </div>
          </a>
        </div>
      </section>

      <section class="certifieds">
        <h2>Certificaciones</h2>

        <article class="cards">
          <div class="card">
            <a
              href="img/CloudComp.webp"
              target="_blank"
              rel="noopener nofollow"
            >
              <img
                loading="lazy"
                src="img/CloudComp.webp"
                alt="Certificado Cloud Computing"
              />
            </a>
          </div>

          <div class="card">
            <a href="img/idesweb1.webp" target="_blank" rel="noopener nofollow">
              <img
                loading="lazy"
                src="img/idesweb1.webp"
                alt="Certificado Introducci칩n al Desarrollo Web 1"
              />
            </a>
          </div>

          <div class="card">
            <a href="img/idesweb2.webp" target="_blank" rel="noopener nofollow">
              <img
                loading="lazy"
                src="img/idesweb2.webp"
                alt="Certificado Introducci칩n al Desarrollo Web 2"
              />
            </a>
          </div>
        </article>
      </section>

      <section class="contact" id="contact">
        <h2>Cont치ctame</h2>

        <article class="contact-container">

          <form action="" class="contact-form">
            <label for="form-name">Nombre</label>
            <input type="text" name="nombre" id="form-name" placeholder="Ingrese su nombre" required>

            <label for="form-email">Email</label>
            <input type="email" name="email" id="form-email" placeholder="Ingrese su email" required>
            
            <label for="form-msj">Asunto</label>
            <textarea name="asunto" id="form-msj" cols="30" rows="10" maxlength="512"
            placeholder="Asunto a tratar" required></textarea>

            <input type="submit" value="enviar" id="form-submit">
          </form>

        </article>
      </section>
    </main>
